*.env
.testing/Email.py
.streamlit/secrets.toml
*.json
.testing/Gspread.py
.testing/Sms.py
.testing/Test.py
.testing/AI.py
*.xls;xlsx;csvk
.testing/Queries.py
.testing/Folder.py
.testing/Monthly.py
.testing/App.py
.testing
*.log
AutoReview.py